body {
  display: flex;
  background-color: rgb(155, 92, 203);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#title {
  padding: 15px;
  background-color: rgb(185, 141, 225);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#current_player,
#board {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  width: 175px;
  justify-content: center;
}

#current_player > div,
#board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

#current_player > .x::before,
#board > .x::before {
  content: "X";
}

#current_player > .x,
#board > .x {
  background-color: red;
}

#current_player > .o::before,
#board > .o::before {
  content: "O";
}

#current_player > .o,
#board > .o {
  background-color: blue;
}
